<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEz3-Zlznym0dCFhV7Qun3H1maGd6f8T0</string>
	<key>GCM_SENDER_ID</key>
	<string>331381691640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cislosfamily.fasttech</string>
	<key>PROJECT_ID</key>
	<string>cafescale-10</string>
	<key>STORAGE_BUCKET</key>
	<string>cafescale-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331381691640:ios:534fd7b074e1b90cab170d</string>
</dict>
</plist>